### Misc ###
/bin
/obj
concept.*
asm_*

### Eclipse ###
*.bak
*.pydevproject
*.swp
*.tmp
*~.nib
.classpath
.cproject
.externalToolBuilders/
.gradle
.loadpath
.metadata
.project
.settings/
.texlipse
Debug
Local_Debug/
Local_Release/
Release
bin/
local.properties
tmp/

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
# Makefile
cmake_install.cmake
install_manifest.txt

### C++ stuff ###
*.map
*.so
*.o
*.a
*.gch

### Kate ###
.*.kate-swp
.swp.*

### General Linux-related files ###
*~
.directory
.Trash-*
tags

### Codeblocks ###
bin/
obj/
*.layout
*.depend
*.save
*.xml
bin/
obj/

### QT ###
*.pro
*.pro.user