[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
